body {
  font-family: Arial, serif;
  font: 16px;
}

.hero {
  background-image: url("background.jpg");
}

#pic {
  float: right;
}

.hero {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 400px;
  margin-right: 400px;
  
  padding: 50px 50px 50px 50px;
  
  border-radius: 15px;
}
